@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NoName Project</h1>
    <p class="lead">Free Open Source Audio Streaming Service.</p>
    <p> details will follow later</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Work in progress </h2>
     
    </div>
   
</div>
