
.albumArtBase64 {
    width: 90px;
    height: 90px;
    display:block
}

.albumInfo {
     margin-left: 15px;
}

.actionLinks > a {
    margin: 10px;
    visibility: hidden;
}

.playlistItem:hover .actionLinks > a {
    margin: 10px;
    opacity: 0.5;
    visibility: visible;
}

.audioItem {
    display: none;
}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.uploadDefault{
    position:absolute;
    width:200px;
    height:40px;
    margin-top:-40px;
    z-index:10;
    opacity:0;
}
	
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Player zone*/
.playerBar {
    position: fixed;
    bottom: 0%;
    height: 77px;
    width: 100%;
    z-index: 1000
}

.playerItemBtn {
    padding: 8px;
    margin: 8px;
}

.playerBtn {
    padding: 16px;
    margin: 16px;
}

/*Song list*/
.playBtnCol {
    width: 46px;
}

.nopaddingleft {
    padding-left: 0px !important;
}

.artist {
    cursor: pointer;
    outline: none;
}