@model PagedList.IPagedList<Domain.Audio.Song>  

@{
    ViewBag.Title = "Songs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h2 class="text-info ">
            <i class="fa fa-music"></i> Music
        </h2>
    </div>

    <div id="table-container" class="panel-body">
        @{Html.RenderPartial("SongList");}
    </div>
</div>




