@model Domain.MediaFile

@{
    ViewBag.Title = "AddFiles";
}

<h2>AddFiles</h2>


@using (Html.BeginForm("AddFiles", "MediaFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ @Html.AntiForgeryToken()

    <fieldset>
         <legend>Upload a file</legend>
        <div class="editor-field">
             @Html.TextBox("file", "", new {type = "file"})
        </div>
        <div class="editor-field">
             <input type="submit" value="Upload"/>
        </div>
    </fieldset> 
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
