@model Domain.MediaFile

@{
    ViewBag.Title = "Add Files";
}

<h2>Upload a file</h2>


@using (Html.BeginForm("AddFiles", "MediaFile", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="editor-field">
            @Html.TextBox("file", "", new {type = "file"})
        </div>
        <div class="editor-field">
            <input type="submit" class="btn-info" value="Upload" multiple="true"/>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}