@model IEnumerable<Domain.Audio.Song>

@{
    ViewBag.Title = "All Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="text-info "> <i class="fa fa-music"></i> Music
        </h3>
    </div>
    <div class="page-header">
        <button class="btn btn-default" onclick="mediaFileHandler.uploadFile()"> Upload File </button>
    </div>


    <div id="table-container" class="panel-body">
        @{Html.RenderPartial("FilesList");}
    </div>
</div>

@Scripts.Render("~/Scripts/Holystream/MediaFile.js")
    <script>
        var mediaFileHandler = new MediaFileCall();
        mediaFileHandler.addFileUrl = '@Url.Action("AddFilesPartial", "MediaFile")';
        mediaFileHandler.detailsFileUrl = '@Url.Action("Details", "MediaFile")';
        mediaFileHandler.deleteFilesUrl = '@Url.Action("Delete", "MediaFile")';
    </script>