@model IEnumerable<Domain.Audio.Song>

@{
    ViewBag.Title = "All Files";
}

<h2>All music</h2>

<p>
    @Html.ActionLink("Add New Song", "AddFiles", null, new { @id = "create-btn" })
</p>

<div id="table-container">
    @{Html.RenderPartial("FilesList");}
</div>


<div id="createS">
    <div id="create-content">
        test create
    </div>
</div>

<div id="editS">
    <div id="edit-content">
        test edit
    </div>
</div>

<div id="detailsS">
    <div id="details-content">
        test details
    </div>
</div>

<div id="deleteS">
    <div id="delete-content">
        test delete
    </div>
</div>